* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto" sans-serif;
    line-height: 1.6;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}


.header-container,
.hero-container {
  width: 1100px;
  margin: 0 auto;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo {
    color: white;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    color: grey;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero {
    padding:50px 0;
}

.hero-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    flex: 1;
}

.hero-text {
    margin-right: 35px;
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    padding: 3px 15px;
    font-weight: 800;
    border-width: 0px;
}


/* Moving on to nex section */


.info {
padding: 60px 0;
}

.info-container {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 170px;
}

.card img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 7px;
    border: 3px solid #1F2937
}


/* Moving to quote section */

.quote {
    background-color: #e5e7eb;
    padding: 100px 0px;
}

.quote p {
    font-size: 20px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-container {
    max-width: 900px;
    margin: 0 auto;
}

.quote-author {
    text-align: right;
    font-weight: 900;
}



/* MOving to Call to action sector*/


