* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto" sans-serif;
    line-height: 1.6;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}


.header-container,
.hero-container {
  width: 1100px;
  margin: 0 auto;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo {
    color: white;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    color: grey;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero {
    padding:50px 0;
}

.hero-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    flex: 1;
}

.hero-text {
    margin-right: 35px;
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: rgb(34, 103, 207);
    border-radius: 5px;
    color: white;
    padding: 3px 15px;
    font-weight: 800;
    border-width: 0px;
}